

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Teko:wght@700&display=swap');



body{
    margin: 0; 

    max-width: 100%;
    overflow-x: hidden;
    width: 100vw;

    /*utan den här får man den jobbiga scroll åt sidorna.*/



}


#wrapper{
    
    display: grid;

    grid-template-areas: 
    "lo bg"
    "na na"
    "ma ma"
    "fo fo"
    ;
    height: 200vh;


    grid-template-rows: 8vw 4.5rem 1fr;
    grid-template-columns: 1fr 100px;


    /*
    grid-template-rows: 5rem 3rem 1fr;*/


    /*fel ordnig i height blir fel, kommentaren kunde visst inte vara i koden heller.*/




}

@media screen and (max-width: 800px){
    #wrapper{
        grid-template-rows: 8vw 0px 1fr;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 150px;
        height: 22.5rem;
    
        /*background-color: aquamarine;*/
        text-decoration: none;
        position: absolute;
        right: -150px;
        top: 9vw;
        transition: 0.35s;
       
        z-index: 1;
        
    }


    .nav-active {
        transform: translateX(-165px);
    }

    /*.nav_upp{
     transform: translateY(-22.5rem);
    }*/

    #burgarbehållare{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: azure;

    }

    #burgare{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 32px;
        
        grid-area: bg;
       
        
        /*margin-top: 2.5vw;*/
    
       
    }
    
    .kryss #line2{
        opacity: 0;
    
    }
    
    .kryss #line1{
        transform: rotate(-45deg) translate(-9px, 9px);
    
    }
    
    .kryss #line3{
        transform: rotate(45deg) translate(-9px, -9px);
    }
    #logga-bild{
        height: 8vw;
    }
    
    #main{
        grid-area: ma;
        color: white;
        background-image: url(../img/cnc-mill_bakgrund.jpg);
        background-size: cover;
    
        display: grid;
        grid-template-areas: 
        "hr"
        "art1"
        "svets"
        "art2"
        "delar"
        ;
        
        grid-template-columns: 1fr;
        grid-template-rows: 2rem 0.5fr 0.75fr 1fr 0.75fr;
        font-size: 1.05rem;
    }

    #main_maskin{
        grid-area: ma;
        color: white;
        background-image: url(../img/cnc-mill_bakgrund.jpg);
        background-size: cover;
    
        display: grid;
        grid-template-areas: 
        "hr"
        "art1"
        "svarv"
        "art2"
        "cnc"
        "art3"
        "kipphyvel"
        ;
        
        grid-template-columns: 1fr;
        grid-template-rows: 2rem 0.5fr 0.75fr 0.5fr 0.75fr 0.5fr 0.75fr;
        font-size: 1.05rem;
    }


    #main_tjanster{
        grid-area: ma;
        color: white;
        background-image: url(../img/cnc-mill_bakgrund.jpg);
        background-size: cover;
    
        display: grid;
        grid-template-areas: 
        "hr"  
        "art1"
        "dack-bild"
        "pl"
        ;
        
        grid-template-columns: 100%;
        grid-template-rows: 3.2rem 0.25fr 1fr;
        font-size: 1.05rem;
    }

    #mek-bild{
        display: none;
    }

    #prislista{
        grid-area: pl;
    
        display: grid;
    
        grid-template-areas:
        "olja"
        "dack"
        "dack-rep"
        "cykel-rep"
        "kaffe"
        "ovriga"
        ;
    
        grid-template-columns: 1fr;
        grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #kartan-maps{
        display: none;

    }

    .priser{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        height: 200px;
        /*width: 65vw;*/

        width:60%;
     
       
        background-color: black;
        opacity: 0.7;
        
        margin: 50px;
    
        /*
        margin-right: 150px;
        margin-left: 150px;
         */
        border-radius: 50px;
       
    }

    
    #kontakt-behallare{

        display: grid;

        grid-template-areas: 
        "kontaktupg" 
        "vi_som_jobbar"
        ;


        grid-template-columns:1fr;

        grid-template-rows: max-content 1fr;


    }

        
    .vi_jobbar{

        border-radius: 50px;
        
        width: 75%;

      
        
    }

    #vi_som_jobbar{
        display: flex;
        flex-direction: column;

        
        margin-left: 5vw;
        
        }
    

}   

@media screen and (min-width: 801px){
    #burgare{
    display: none;}
    
    #wrapper{
        grid-template-columns: 1fr 0px;
    }

    nav{

        grid-area: na;
    
        display: flex;
        align-items: center;   
        /*width: 90vw;*/
    
        
        justify-content: space-evenly;
        align-items: center;
        
        margin: 0;
        margin-right: 0px;
        padding: 0;
        border: 0;
        background-color: azure;

        position: sticky;

        top: 0px;

        z-index: 1;
  
    
        /*
        height: 100px;
        grid-area: na;
    
     
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    */
    
    
    
    }
    #main{

        grid-area: ma;
        color: white;
        background-image: url(../img/cnc-mill_bakgrund.jpg);
        background-size: cover;
    
        display: grid;
    
        grid-template-areas:
        "hr hr" 
        "art1 svets"
        "delar art2"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2rem 1fr 1fr;
    
        font-size: 1.05rem;
    
    }

    #main_maskin{

        grid-area: ma;
        color: white;
        background-image: url(../img/cnc-mill_bakgrund.jpg);
        background-size: cover;
    
        display: grid;
    
        grid-template-areas:
        "hr hr" 
        "art1 svarv"
        "art2 cnc"
        "art3 kipphyvel"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3rem 1fr 1fr 1fr;
    
        font-size: 1.05rem;
    
    }

    #main_tjanster{

        grid-area: ma;
        color: white;
        background-image: url(../img/cnc-mill_bakgrund.jpg);
        background-size: cover;
    
        display: grid;
    
        grid-template-areas:
        "hr hr hr" 
        "mek-bild art1 dack-bild"
        "pl pl pl"
        ;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 3.2rem 35% 1fr;
    
        font-size: 1.05rem;
    
    }

    #prislista{
        grid-area: pl;


        display: grid;
    
        grid-template-areas:
        "olja dack"
        "dack-rep cykel-rep"
        "kaffe ovriga"
        ;
    
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr 1fr 1fr;
    }


    #kartan-maps_liten{
        display: none;

    }

    .priser{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        height: 200px;
        width: 25vw;
     
    
        background-color: black;
        opacity: 0.7;
        
        margin: 50px;
    
        /*
        margin-right: 150px;
        margin-left: 150px;
         */
        border-radius: 50px;
       
    }

    #kontakt-behallare{

        display: grid;

        grid-template-areas: 
        "kontaktupg" "vi_som_jobbar"
        ;


        grid-template-columns:65% 1fr;

        grid-template-rows: 1fr;


    }

        
    .vi_jobbar{

        border-radius: 50px;
        
        width: 30vw;

    
        
        
        
    }

    #vi_som_jobbar{
        display: flex;
        flex-direction: column;
        
        }
    
    

}  

#main_kontakt{

    grid-area: ma;
    color: white;
    background-image: url(../img/cnc-mill_bakgrund.jpg);
    background-size: cover;

    display: grid;

    grid-template-areas:
    "hr"
    "art1"
    "karta"
    "kontakt-behallare"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 8rem 450px 1fr;
    /*grid-template-rows: 3rem 7rem 0.8fr 0.05fr;*/
    /*grid-template-rows: 3rem 7rem 450px 1fr;*/

    font-size: 1.05rem;
   

}

.centrerat{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    
}

#karta{
    height: 425px;
    margin: 0;
}

#besok{

  
    border: 0px;
    padding: 0px;

    margin-left: 5vw;
    margin-right: 30px;
    margin-bottom: 80px;
    font-size: 1.2rem;

}

#oppet{
line-height: 0;
font-size: 1.4rem;

}

#telefon{
    
  
    border: 0px;
    padding: 0px;

    margin-left: 5vw;
    margin-right: 30px;

    margin-bottom: 80px;
    font-size: 1.2rem;
}

#uppgifter{


font-size: 1.3rem;

font-weight: 200;

font-family: FreeMono, monospace;

}

h1{
    /*font-family: sans-serif;*/
    font-family: Teko, serif;
    

}
h2{
    /*font-family: sans-serif;*/
   /* font-family: 'Merriweather', serif;*/
    font-family: Teko, serif;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
}
h3{
    /*font-family: sans-serif;*/
   /* font-family: 'Merriweather', serif;*/
    font-family: Teko, serif;
}

.linje{
    height: 6px;
    width: 35px;
    background-color: crimson;
    /*margin: 7px;*/
    border-radius: 30%;
    transition: all 0.5s;
    }



#logga{
    grid-area: lo;
    

}
#logga-bild{
    width: 100%;
}



#art1{
    grid-area: art1;
    margin: 50px;
}

#art2{
    grid-area: art2;
    margin: 50px;
}

#art3{
    grid-area: art3;
    margin: 50px;
}

.bilder_i_main{
    /*width: auto;
    height: 60vh;*/
    margin: 0px;

    object-fit: cover;
    /*width: fit-content;*/
    width: 100%;
    border-radius: 15px;  
    height: 60vh;
}

.bildbehallare1{
    grid-area: svets;
    margin: 50px;
}

.bildbehallare2{
    grid-area: delar;
    margin: 50px;
}

.bildbehallare3{
    margin: 50px;
}

#svarv-bild{
    grid-area: svarv;
}

#cnc-bild{
    grid-area: cnc;
}

#kipp-bild{
    grid-area: kipphyvel;
}

#mek-bild{
    grid-area: mek-bild;
}

#dack-bild{
    grid-area: dack-bild;
}




.prisbehallare{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.lank{
   /* height: 50px;
    
    align-items: center;*/
    /*transition: all: 0.5s;*/
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 0;
    align-items: center;
    text-decoration: none;
    width: 150px;
    background-color: antiquewhite;
    height: 60px;
    
    
    
}

.lank:hover .link{



   /* font-weight: 850;*/
    color: darkred;

    font-size: 1.1rem;

    text-shadow:
    -0.4px 0px 0 darkred,
    0.4px 0px 0 darkred;
    
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;




   /* cursor: progress;*/
}   
/* transition fungerar inte på font weigt så jag gjorde en liknande variant av en lösning jag läste på stack overflow.*/


.lank:hover{
background-color: seashell;
transition: 0.3s;

}




.link{
    font-family: sans-serif;
    font-weight: 700;
    color: darkblue;
    letter-spacing: 0.05rem;
 
    
}

footer{
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0;
    grid-area: fo;
    height: auto;

}

#undermeny{
    display: none;
   
}
.underlank{
    display: none;
}

#huvudrubrik{
    grid-area: hr;
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
}




.bolder{
    font-weight: 600;
    line-height: 0;
}

.nummer{
    line-height: 0;
}

/*
.link{
    /*
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 0;
    align-items: center;
   height: 60px;
    width: 150px;
    background-color: antiquewhite;
    height: 130px;
}   
*/

#verkstadskaffe{
    text-align: center;
}

#urub-tjänster{

    font-size: 1.4rem;
    font-weight: 100;


}

#tjanster-brodtxt{
    font-size: 1.2rem;


}

p{
    display: inline;
    font-family: sans-serif;
    /*font-family: 'Merriweather', sans-serif;*/
}

#main-huvudrubrik{

    font-size: 3.2rem;
   /* font-family: Stencil Std, fantasy;*/
    font-weight: 800;
    letter-spacing: 3px;
    text-align: center;
}

#main-brodtext{

    font-size: 1.2rem;
}

#kontaktinfo{
    font-size: 1.2rem;
}

.maskininfo{
    font-size: 1.25rem;
    margin-top: 3.5rem;
}



/* cursor på länkar*/


/* position absulute
position sticky 
z index*/


   /* #navmeny{
    display: none;}*/
/*
    nav{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 60px;
        height: 90vh;
    
        background-color: aquamarine;
        text-decoration: none;
        position: absolute;
        right: 0;
        top: 0vh;
     
    }*/