body{
    margin: 0; 

    //*utan den här får man den jobbiga scroll åt sidorna.*//



}

#wrapper{
  
display: grid;

grid-template-areas: 
"lo bg"
"na na"
"ma ma"
;
height: 200vh;


grid-template-rows: 8vw 4.5rem 1fr;
grid-template-columns: 1fr 100px;


//*
grid-template-rows: 5rem 3rem 1fr;*//


//*fel ordnig i height blir fel, kommentaren kunde visst inte vara i koden heller.*//




}

@media screen and (max-width: 800px){
    #wrapper{
        grid-template-rows: 8vw 0px 1fr;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 150px;
        height: 22.5rem;
    
        /*background-color: aquamarine;*/
        text-decoration: none;
        position: absolute;
        right: 0;
        top: 8vw;
      
        



  
        
    }

    #burgarbehållare{
        display: flex;
        justify-content: center;
        align-items: center;


    }

    #burgare{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 32px;
        
        grid-area: bg;
       
        /*margin-top: 2.5vw;*/
    
       
    }
    .nav_upp{
        transform: translateY(-22.5rem);
    }
    

}   

@media screen and (min-width: 801px){
    #burgare{
    display: none;}
    
    #wrapper{
        grid-template-columns: 1fr 0px;
    }

    nav{

        grid-area: na;
    
        display: flex;
        align-items: center;   
        /*width: 90vw;*/
    
        
        justify-content: space-evenly;
        align-items: center;
        
        margin: 0;
        margin-right: 0px;
        padding: 0;
        border: 0;
        background-color: azure;

        position: sticky;

        top: 0px;
    
        //*
        height: 100px;
        grid-area: na;
    
     
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    *//
    
    
    
    }

}  



.linje{
    height: 6px;
    width: 35px;
    background-color: chartreuse;
    /*margin: 7px;*/
    border-radius: 30%;
    transition: all 0.5s;
    }



#logga{
    grid-area: lo;
    
    background-image: url(../img/trest_logga.png)
}

#main{

    grid-area: ma;
}

.lank{
   //* height: 50px;
    
    align-items: center;*//

    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 0;
    align-items: center;

    width: 150px;
    background-color: antiquewhite;
    height: 60px;
}
//*
.link{
    //*
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 0;
    align-items: center;
   height: 60px;
    width: 150px;
    background-color: antiquewhite;*//
    height: 130px;
}   
*//

p{
    display: inline;
}


a{
   
}

//* cursor på länkar*//


//* position absulute
position sticky 
z index*//


   //* #navmeny{
    display: none;}*//
//*
    nav{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 60px;
        height: 90vh;
    
        background-color: aquamarine;
        text-decoration: none;
        position: absolute;
        right: 0;
        top: 0vh;
     
    }*//